body{
    background-image: url(https://st2.depositphotos.com/1079778/5589/v/950/depositphotos_55897403-stock-illustration-abstract-polygonal-background-vector.jpg);
    background-size:cover;
}
h1{
    color:rgba(63, 63, 236, 10);
    position: center;
    font-style: italic;
}
h2{
    color: crimson;
    font-style: italic;
}
h3{
    color: darkmagenta;
    font-style: italic;
}
h4{
    color: rgb(240, 58, 73);
    font-style: italic;
}
h5{
    color: darkred;
    font-style: italic;
}